@using PastaOrderfood.Account;
@{
    string str_header = "後台管理專區";
    string str_controller = "Admin";
    if (UserAccount.RoleNo == AppEnum.enUserRole.Member) { str_header = "會員專區"; str_controller = "Member"; }
    //if (UserAccount.RoleNo == AppEnum.enUserRole.Vendor) { str_header = "廠商專區"; str_controller = "Vendor"; }
    if (UserAccount.RoleNo == AppEnum.enUserRole.Admin) { str_header = "後台管理專區"; str_controller = "Admin"; }
}

<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @*@Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("scripts", required: false)
    <style>
        .mtop {
            margin-top: 10vh;
        }

        .acenter {
            text-align: center
        }
        .side{
            width: 250px;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
            top: 0;
            left: -250px;
        }
            .side li {
                width: 90%;
                margin: 50px auto;
                border-bottom: 1px dashed #666;
            }
                .side li a {
                    color: white;

                }
                .side li a:hover {
                    color: orange;
                    cursor: pointer;
                }
            .side span {
                width: 40px;
                height: 40px;
                background-color: rgba(0, 0, 0, 0.7);
                position: absolute;
                /* top: 40px; */
                left: 100%;
                font-size: 12px;
                line-height: 40px;
                border-radius: 0px 20px 20px 0px;
                cursor: pointer;
            }
        @@keyframes showIn {
            from {
                margin-left: -250px;
            }
            to {
                margin-left: 0px;
            }
        }

        @@keyframes showOut {
            from {
                margin-left: 250px;
            }
            to {
                margin-left: 0px;
            }
        }

    </style>
    <script >
        $(function () {
            let leftNav = 0;
            $(".side span").click(function () {
                if (leftNav == 0) {
                    $(this).html("X");
                    $(".side").css({ "animation": "showIn 0.75s", "left": "0px" })
                    $(this).css("color", "orange")
                    leftNav = 1;
                }
                else {
                    $(this).html("Open");
                    $(".side").css({ "animation": "showOut 0.75s", "left": "-250px", "color": "" })
                    $(this).css("color", "")
                    leftNav = 0;
                }


            })

        })
    </script>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

</head>
<body>

    @if (UserAccount.RoleNo == AppEnum.enUserRole.Admin)
    {@Html.Partial("~/Views/Shared/_PartialMenuAdmin.cshtml")}

    @RenderBody()

</body>
</html>
